<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <titlle>Login</titlle>
</head>
<body>
    <h1>Login</h1>
    <form method="POST"
        <label for="nome">Digite seu nome:</label>
        <input type="text" name="nome" id="nome" reqiored><br><br>

        <label for="senha">Digite sua senha de 4 dígitos: </label>
        <input type="password" name="senha" id="senha" required><br><br>


        <button type="submit">Entrar</button>
</form>
</body>
</html>